@media screen and (min-width: 601px) and (max-width: 1023px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 3rem;

        margin-bottom: 4rem;
        
    }

    .hero {
        display: flex;
        justify-content: space-between;

        padding: 2rem 0;
        width: 100%;
    }

    .hero div {
        max-width: 68%;
    }

    .hero img {
        width: 30%;
        height: auto;
    }

    .hero span {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .skills span {
    
        padding: 0.5rem 2rem;
        border-radius: 99px;
    
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--bg-color);
        text-align: center;
    
        background-color: var(--text-color);
    }

    .info img {
        border-radius: 100%;
        width: 64px;
        height: 64px;
    }

    .info span {
        width: 64px;
        height: 64px;
        text-align: center;
    }

    .item .date {
        font-size: 1rem;
        color: var(--text-color);
        opacity: 0.6;
    }

    .item .title {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--text-color);
    
    }
    
    .item .subtitle {
        font-size: 1rem;
        color: var(--text-color);
    
    }
}