@media screen and (min-width: 601px) and (max-width: 1023px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        row-gap: 3rem;

        margin-bottom: 4rem;
        padding: 0rem 10rem;
        
    }

    nav .material-symbols-outlined {
        font-size: 1.75rem;
    }

    .nav-icon {
        font-size: 1.75rem !important;
        color: var(--text-color) !important;
    }

    h1 {
        font-size: 5rem;
    }
    
    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2rem;
    }
    
    h4 span{
        font-size: 2.5rem;
    
    }
    
    p {
        font-size: 1.75rem;
    }
    
    span {
        font-size: 1.75rem;
    }

    .hero {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        padding: 2rem 0;
        width: 100%;
    }

    .hero div {
        max-width: 68%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero img {
        width: 29%;
        height: auto;
        align-self: start;
    }

    .hero span {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .skills span {
    
        padding: 0.5rem 2rem;
        border-radius: 99px;
    
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--bg-color);
        text-align: center;
    
        background-color: var(--text-color);
    }

    .info img {
        border-radius: 100%;
        width: 64px;
        height: 64px;
    }

    .info span {
        width: 64px;
        height: 64px;
        text-align: center;
    }

    .item .date {
        font-size: 1.25rem;
        color: var(--text-color);
        opacity: 0.6;
    }

    .item .title {
        font-size: 1.75rem;
        font-weight: 600;
        color: var(--text-color);
    
    }
    
    .item .subtitle {
        font-size: 1.5rem;
        color: var(--text-color);
    
    }
}